body {
    color: deeppink;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 40px;
    margin-right: 50px;
}
select { background: deeppink;
 }
input{ background: deeppink;
margin: 5px; background-color: deeppink; border-color: deeppink;}
ul{background-color: deeppink;
margin: 10px  ;
padding: 50;
list-style-type: none;
color: black;
width: auto;
font-size: large;

}
li{
display: inline-block;
margin: 0 20px 0 0;
}
footer{ font-size: larger:}
